{block content}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <a n:href="Admin:list-users" class="float-right">Zpět na seznam uživatelů</a><h4>Přidat uživatele</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                {ifset $userInfo}
                                    <!-- Alert with message about password edit -->
                                    <div class="alert alert-{$userType} alert-dismissible fade show" role="alert">
                                        {$userInfo}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {/ifset}
                                <!-- Edit user form -->
                                {control addUserForm}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{/block}