{block content}
    {*TODO: UPRAVIT CSS NĚJAK JSEM TO POMRDAL :D*}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h4 class="card-header">Import databáze (2/2)</h4>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10 offset-1">
                                <h2>Návod</h2>
                                <p>Nejprve je nutné importovat všechny číselníky. To znamená tabulky
                                    <code>typ_vzorku</code> a <code>vysetrujici</code>. U ostatních tabulek nechat
                                    vybráno pole <code>NEIMPORTOVAT!</code>. Po úspěšném importování těchto číselníků je
                                    již možné importovat všechny ostatní tabulky.</p>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 offset-1">
                                <h2>Import</h2>
                                <p>Na následujícím obrázku je znázorněn diagram nové databáze pro lepší orientaci.</p>
                                <a href="{$basePath}/img/admin/dbimport/diagram.jpg" target="_blank"
                                   style="max-width: 100%"><img
                                            src="{$basePath}/img/admin/dbimport/diagram.jpg" class="form-control">
                                </a>
                                <p>V databázi byly nalezeny tabulky s následujícími sloupci. Tabulky obsahují
                                    následující sloupce:</p>
                                <hr>
                                {ifset $columns}
                                    {foreach $tables as $table}
                                        <ul class="list-inline"><b>{$table}</b>:
                                            {foreach $columns[$table] as $column}
                                                <li class="list-inline-item"><code>&lt;{$column}&gt;</code></li>
                                            {/foreach}
                                        </ul>
                                    {/foreach}
                                {/ifset}
                                <hr>
                                <p>Vyberte prosím o jaký typ tabulky se jedná:</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                {ifset $tables}{control dbImportForm}{/ifset}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{/block}