{block content}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h4 class="card-header">Import databáze (1/2)</h4>
                    <div class="card-body">
                        <h2>Návod</h2>
                        <p>Podporované typy souborů pro import jsou <code>.mdb</code> a <code>.accdb</code>.</p>
                        <hr>
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                {control dbUploadForm}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{/block}