{block content}
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <h4 class="card-header">Menu</h4>
                <div class="card-body">
                    <div class="list-group">
                        <a class="list-group-item" n:href="Admin:dbUpload">Import z Accessu</a>
                        <a class="list-group-item" n:href="Admin:listUsers">Správa uživatelů</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <h4 class="card-header">Statistiky</h4>
                <div class="card-body">
                    <p>Na následujícím grafu jsou znázorněny počty záznamů v jednotlivých tabulkách.</p>
                    <canvas id="statChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
{/block}

{block scripts}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ=" crossorigin="anonymous"></script>
    <script>
        var ctx = document.getElementById("statChart");
        var statChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Pacienti", "Geny", "Varianty", "Vzorky DNA", "Vyšetření"],
                datasets: [{
                    data: [{$patientCount}, {$geneCount}, {$variantCount}, {$dnaCount}, {$examinationCount}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.9)',
                        'rgba(54, 162, 235, 0.9)',
                        'rgba(255, 206, 86, 0.9)',
                        'rgba(75, 192, 192, 0.9)',
                        'rgba(153, 102, 255, 0.9)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                },
                legend: {
                    display: false
                }
            }
        });
    </script>
{/block}
