{block content}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <a n:href="Admin:list-users" class="float-right">Zpět na seznam uživatelů</a><h4>Editování
                            uživatele: <b>{$employee}</b></h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5 offset-md-1">
                                <!-- Edit user form -->
                                {ifset $userInfo}
                                    <!-- Alert with message about password edit -->
                                    <div class="alert alert-{$userType} alert-dismissible fade show" role="alert">
                                        {$userInfo}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {/ifset}
                                {control editUserForm}
                            </div>
                            <div class="col-md-5 ">
                                {ifset $passwordInfo}
                                    <!-- Alert with message about password edit -->
                                    <div class="alert alert-{$passwordType} alert-dismissible fade show" role="alert">
                                        {$passwordInfo}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {/ifset}

                                <!-- Edit user password form -->
                                {control editUserPasswordForm}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{/block}