{block title}Generování administrátorského hesla{/block}
{block content}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Generování administrátorského hesla</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <p>Nyní můžete vygenerovat nové heslo. Nejdříve zadejte dvakrát heslo a poté vyberte pro
                                    jaký administrátorský účet chcete heslo vygenerovat.</p>
                                <hr>
                                {ifset $generateAdminAlert}
                                    <!-- Alert with message about password edit -->
                                    <div class="alert alert-{$generateAdminAction} alert-dismissible fade show"
                                         role="alert">
                                        {$generateAdminAlert}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {/ifset}
                                <!-- Edit user form -->
                                {control generateAdminPassword}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{/block}