{block content}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h4 class="card-header">Seznam vyšetřujících</h4>
                    <div class="card-body">
                        <a n:href="Admin:addUser" class="btn btn-outline-success mb-2">Přidat uživatele</a>
                        <hr>
                        {control usersDataGrid}
                    </div>
                </div>
            </div>
        </div>
{/block}