{block title}Resetování administrátorského hesla{/block}
{block content}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Resetování administrátorského hesla</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <p>Do formuláře níže zadejte jeden z vygenerovaných tokenů pro resetování hesla.</p>
                                <hr>
                                {ifset $resetAdminAlert}
                                    <!-- Alert with message about password edit -->
                                    <div class="alert alert-{$resetAdminAction} alert-dismissible fade show"
                                         role="alert">
                                        {$resetAdminAlert}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {/ifset}
                                <!-- Edit user form -->
                                {control resetAdminForm}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{/block}