{block content}
    <div class="card">
        <div class="card-header">
            {if isset($patient)}
                <a n:href="Patient:detail $patient[\App\Model\PatientModel::COL_ID]" class="float-right"> Zpátky k pacientovi </a>
            {else}
                <a n:href="Examination:list" class="float-right"> Zpět na seznam vyšetření</a>
            {/if}
            <h4>Přidat vyšetření</h4>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <h5>{if isset($patient)}
                      Pacient  – {$patient[\App\Model\PatientModel::COL_FIRST_NAME]} {$patient[\App\Model\PatientModel::COL_LAST_NAME]} (rč. {$patient[\App\Model\PatientModel::COL_PIN]})
                    {else}
                        Přidat vyšetření
                    {/if}
                </h5>
            </div>
            <div class="col-md-6 offset-md-1">
                {* Examination add form *}
                {if isset($patient)}
                    {control examAddToPatientForm}
                {else}
                    {control examAddForm}
                {/if}
            </div>
        </div>
    </div>
{/block}