{block content}
    <div class="card">
        <div class="card-header">
            <a n:href="Examination:list" class="float-right">Zpět na seznam vyšetření</a><h4>Vyšetření</h4>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <h5>Upravit vyšetření č. {$this->getParameter('presenter')->getParameter('id')}</h5>
            </div>
            <div class="col-md-6 offset-md-1">
                 {*Examination add form*}
                {control examEditForm}
                <p>{if !empty($genes)}Panel obsahuje následující geny:{snippet genesSnippet}{$this->getParameter('presenter')->getTemplateGenes()}{/snippet}{else}Panel neobsahuje žádné geny.{/if}</p>
            </div>
            <br>
            <hr>
            <br>
            <div class="col-md-12">
                <h5>Varianty nalezené ve vyšetření</h5>
                <p>V tabulce lze pomocí hromadných akcí pro označené varianty měnit jejich genotyp a nebo varianty odstraňovat z vyšetření.</p>
                {*Wrapped in snippet because $this['grid']->reload() won't reset group actions selectboxes and it stays bugged*}
                {snippet variantExamGridSnippet}
                    {control variantExamGrid}
                {/snippet}
            </div>
            <br>
            <hr>
            <br>
            <div class="col-md-12">
                <h5>Varianty v panelu</h5>
                <p>V následující tabulce můžete označit varianty a pak pomocí hromadné akce varianty přiřadit k vyšetření.</p>
                {snippet variantGridSnippet}
                    {control variantGrid}
                {/snippet}
            </div>
        </div>
    </div>
{/block}