{block content}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h4 class="card-header">Seznam vyšetření</h4>
                <div class="card-body">

                    <a n:href="Examination:add" class="btn btn-outline-success mb-2">Přidat nové vyšetření</a>
                    <hr>
                    <p>
                        V tabulce je seznam všech provedených vyšetření. Tlačítkem <span
                                class="fa fa-pencil-alt success"></span>
                        je možné upravit vyšetření. Tlačítkem <span class="fa fa-trash danger"></span> lze vyšetření
                        odstranit.
                    </p>
                    {control examDataGrid}
                </div>
            </div>
        </div>
    </div>
{/block}