{block content}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h4 class="card-header">Úprava profilu</h4>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5 offset-md-1">
                                {ifset $profileInfo}
                                    <!-- Alert with message about password edit -->
                                    <div class="alert alert-{$profileAction} alert-dismissible fade show" role="alert">
                                        {$profileInfo}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {/ifset}
                                {control editProfileForm}
                            </div>
                            <div class="col-md-5">
                                {ifset $passwordInfo}
                                    <!-- Alert with message about password edit -->
                                    <div class="alert alert-{$passwordAction} alert-dismissible fade show" role="alert">
                                        {$passwordInfo}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {/ifset}
                                {control editProfilePasswordForm}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{/block}r