{block content}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h4 class="card-header">Přihlášení</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 offset-md-4">
                            {control loginForm}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center small">Zapomněli jste heslo administrátora? Je možné ho resetovat pomocí
                                tokenu
                                <a n:href="Admin:resetAdminPassword">zde.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}