{block content}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h4 class="card-header">Přidání vzorku DNA</h4>
                    <div class="card-body">
                        {form dnaNewForm}
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>{ifset $id}Pacient
                                        {else}Nový Pacient
                                        {/ifset}
                                    </h5>
                                </div>
                                <div class="col-md-6">
                                    {ifset $id}
                                        <div class="float-right">
                                            <a n:href="Patient:detail $id" class="btn btn-outline-success">Detail
                                                pacienta</a>
                                            <a n:href="Patient:list" class="btn btn-outline-success">Vybrat jiného
                                                pacienta</a>
                                        </div>
                                    {else}<a n:href="Patient:list" class="btn btn-outline-success float-right">Vybrat
                                        existujícího pacienta</a>
                                    {/ifset}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 offset-md-1">
                                    <div class="form-group">
                                        {label pacient_jmeno, class => required/}{input pacient_jmeno}
                                    </div>
                                    <div class="form-group">
                                        {label pacient_prijmeni, class => required /}{input pacient_prijmeni}
                                    </div>
                                    <div class="form-group">
                                        {label pacient_rc, class => required /}{input pacient_rc}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <h5>Vzorek DNA</h5>
                                <div class="col-md-6 offset-md-1">
                                    <div class="form-group">
                                        {label dna_cislo_vzorku, class => required /}{input dna_cislo_vzorku}
                                    </div>
                                    <div class="form-group">
                                        {label dna_typ_vzorku_id, class => required /}{input dna_typ_vzorku_id}
                                    </div>
                                    <div class="form-group">
                                        {label dna_datum /}{input dna_datum}
                                    </div>
                                    <div class="form-group">
                                        {label dna_kauzalita /}{input dna_kauzalita}
                                    </div>
                                    {input send}
                                </div>
                            </div>
                        {/form}
                    </div>
                </div>
            </div>
        </div>
{/block}