{block content}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h4 class="card-header">Detail vzorku DNA</h4>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Pacient: {$patient->pacient_jmeno} {$patient->pacient_prijmeni}</h5></div>
                            <div class="col-md-6">
                                <div class="float-right">
                                    <a n:href="Patient:detail $patient->pacient_id" class="btn btn-outline-success">Detail
                                        pacienta</a></div>
                            </div>
                        </div>
                        <br>
                        <div>
                            <div class="col-md-6 offset-md-1">
                                {form dnaDetailForm}
                                    <div class="form-group">
                                        {label dna_cislo_vzorku /}{input dna_cislo_vzorku}
                                    </div>
                                    <div class="form-group">
                                        {label dna_typ_vzorku_id /}{input dna_typ_vzorku_id}
                                    </div>
                                    <div class="form-group">
                                        {label dna_datum /}{input dna_datum}
                                    </div>
                                    <div class="form-group">
                                        {label dna_kauzalita /}{input dna_kauzalita}
                                    </div>
                                    <input n:name=editDna>
                                    <input n:name=deleteDna
                                            onclick="return confirm('Opravdu chcete vzorek smazat?');">
                                {/form}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
{/block}