{block content}
    <div class="card">
        <div class="card-header">
            <a n:href="Variant:list" class="float-right">Zpět na seznam variant</a><h4>Přidat variantu</h4>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <h5>Přidat variantu</h5>
                <p>Pomocí tlačítka <code>Vyhledat ve Varsome</code> je možné vyhledat variantu pomocí Varsome API.
                    Pokud je vyplněno pole <code>RS</code> vyhledává se primárně podle něj.</p>
                <p>Pokud se ve výběrovém seznamu nenechází žádný gen, je možné ho přidat <a n:href="Gene:new">ZDE.</a></p>
            </div>
            <hr>
            <div class="col-md-6 offset-md-1">
                {* Variant add form *}
                {control variantAddForm-0}
            </div>
            <div class="col-md-12">
                {* Snippet with found variants from VarsomeAPI*}
                {snippet variantsSnippet}
                    {if isset($varsomeVariants)}
                        <hr>
                        <p>Pomocí Varsome Api byly nalezeny následující varianty:</p>
                        <table class="table table-stripped">
                            <thead>
                            <tr>
                                <th>RS</th>
                                <th>HGVS</th>
                                <th>Datum aktualizace</th>
                                <th>Verdikt</th>
                                <th>Verdikt hodnocení (0-5)</th>
                                <th>Akce</th>
                            </tr>
                            </thead>
                            <tbody>

                            {* Jsem na to hrdej? Nejsem, ale prostě AJAXem to hezky nešlo :( *}
                            {var $i = 1}
                            <tr n:foreach="$varsomeVariants as $variant">
                                {form variantAddForm-$i}
                                    <td><input n:name="varianta_rs" type="hidden"
                                                                    value="{$variant->getRsid()}">{$variant->getRsid()}
                                    </td>
                                    <td><input n:name="varianta_hgvs" type="hidden"
                                                                      value="{$variant->getHgvs()}">{$variant->getHgvs()}
                                    </td>
                                    <td><input n:name="varianta_clinvar_datum" type="hidden"
                                                                               value="{$variant->getLastEvalDate()}">{$variant->getLastEvalDate()|date:'%d.%m.%Y'}
                                    </td>
                                    <td><input n:name="varianta_clinvar_vyznam" type="hidden"
                                                                                value="{$variant->getClinvarVerdict()}">{$variant->getClinvarVerdict()}
                                    </td>
                                    <td>{$variant->getClinvarVerdictStars()}</td>

                                {* Data z formuláře *}
                                {var $data = [
                                        'varianta_rs'             => $variant->getRsid(),
                                        'varianta_hgvs'           => $variant->getHgvs(),
                                        'varianta_clinvar_datum'  => $variant->getLastEvalDate(),
                                        'varianta_clinvar_vyznam' => $variant->getClinvarVerdict()
                                        ]}

                                    <td><span n:class="btn, btn-sm, btn-success"><a
                                                    name="addVariant" n:href="add! $data" n:class="ajax, ajax-link">Přidat variantu</a></span>
                                    </td>
                                {/form}
                                {var $i = $i + 1}
                            </tr>
                            </tbody>
                        </table>
                    {elseif isset($varsomeNotFound)}
                        <hr>
                        <p>Varianta nebyla ve Varsome Api nalezena.</p>
                    {/if}
                {/snippet}
            </div>
        </div>
    </div>
{/block}