{block content}
    <div class="card">
        <div class="card-header">
            <a n:href="Variant:list" class="float-right">Zpět na seznam variant</a><h4>Editovat variantu</h4>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <h5>Editovat variantu</h5>
            </div>
            <div class="col-md-6 offset-md-1">
                {* Variant add form *}
                {snippet editForm}
                    {control variantEditForm}
                {/snippet}
            </div>
        </div>
    </div>
{/block}