{block content}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h4 class="card-header">Seznam variant</h4>
                <div class="card-body">
                    <a n:href="Variant:add" class="btn btn-outline-success mb-2">Přidat novou variantu</a>
                    <hr>
                    <p>
                        V tabulce se nachází seznam všech variant, které jsou v databázi. Tlačítkem <span
                                class="fa fa-pencil-alt success"></span> je možné variantu upravovat. Tlačítkem
                        <span class="fa fa-trash danger"></span> lze variantu odstranit.
                    </p>
                    <p>
                        V záhlaví tabulky jsou další dvě tlačítka <code>Přiřadit geny</code> a <code>Aktualizovat z
                            Varsome</code>. První z nich přiřadí variantám bez genu jejich gen podle prefixu HGVS před
                        dvojtečkou. Druhé z nich aktualizuje informace o variantách pomocí Varsome API. Brán je vždy
                        výsledek
                        s nejlepším hodnocením.
                    </p>
                    <p>
                        <i>Aktualizace dat probíhá a na pozadí a proto je po kliknutí na tlačítko třeba počkat,
                        v závislosti na počtu variant.</i>
                    </p>
                    {control variantsDataGrid}
                </div>
            </div>
        </div>
    </div>
{/block}