<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- jQuery -->
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.js"
            integrity="sha256-wqAoCRn9//AnHSl4qbXVhqdvmgFQqN5Elqp4Eb2wOXA=" crossorigin="anonymous"></script>

    <!-- Bootstrap CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>

    <!-- Bootstrap Select -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    <!-- Bootstrap Datepicker -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css"
          integrity="sha256-mlKJFBS1jbZwwDrZD1ApO7YFS6MA1XDN37jZ9GDFC64=" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"
            integrity="sha256-tW5LzEC7QjhG0CiAvxlseMTs2qJS7u3DRPauDjFJ3zo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.cs.min.js"
            integrity="sha256-pbW7ult8QcDlimj+JQplrsCieqCvQ/8VGr7ZdTuev8c=" crossorigin="anonymous"></script>

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- CSS -->
    <link href="{$basePath}/css/style.css" rel="stylesheet">

    <link rel="icon"
          type="image/png"
          href="{$basePath}/img/gen-icon-green.png">

    <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
    <script src="{$basePath}/js/nette.ajax.js"></script>

    {ifset head}{include head}{/ifset}

    <title>{ifset title}{include title|stripHtml} | {/ifset}Genomic Database</title>
</head>
<body id="background">
<nav class="navbar navbar-expand-sm header">
    <h1 class="navbar-brand">
        <a n:href="Homepage:" class="nav-link">
            <img src="{$basePath}/img/gen-icon.png" alt="Gene icon white" style="height: 30pt; vertical-align: middle;"
                 class="mr-2 pb-2">GenDB
        </a>
    </h1>
    <button class="navbar-toggler btn btn-outline-light" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        Menu
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {foreach $user->roles as $role}
                {if $role == 'admin' || $role == 'user'}
                    <li class="nav-item">
                        <a n:href="Patient:list" class="nav-link">Pacienti</a>
                    </li>
                    <li class="nav-item">
                        <a n:href="Dna:add" class="nav-link">Vzorek DNA</a>
                    </li>
                    <li class="nav-item">
                        <a n:href="Gene:list" class="nav-link">Geny</a>
                    </li>
                    <li class="nav-item">
                        <a n:href="Panel:list" class="nav-link">Panely</a>
                    </li>
                    <li class="nav-item">
                        <a n:href="Variant:list" class="nav-link">Varianty</a>
                    </li>
                    <li class="nav-item">
                        <a n:href="Examination:list" class="nav-link">Vyšetření</a>
                    </li>
                {/if}
            {/foreach}
        </ul>
        <hr class=".d-none .d-sm-block .d-md-none">
        <div class="navbar-nav">
            <div class="container-fluid">
                {if $user->loggedIn}
                    <div class="row">
                        <div class="nav-link p-0">
                            {if !empty($user->getIdentity()->vysetrujici_jmeno) || !empty($user->getIdentity()->vysetrujici_prijmeni)}
                                <a n:href="User:editProfile $user->getIdentity()->vysetrujici_id"><em>{$user->getIdentity()->vysetrujici_titul_pred}</em>
                                    <strong>{$user->getIdentity()->vysetrujici_jmeno} {$user->getIdentity()->vysetrujici_prijmeni}</strong>
                                    <em>{$user->getIdentity()->vysetrujici_titul_za}</em>
                                </a>
                            {else}
                                <a n:href="User:editProfile $user->getIdentity()->vysetrujici_id">
                                    <strong>{$user->getIdentity()->vysetrujici_login}</strong>
                                </a>
                            {/if}
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            {foreach $user->roles as $role}
                                {if $role == 'admin'}<a class="badge badge-light" n:href="Admin:">Administrace</a>
                                {/if}
                            {/foreach}
                            {if $role != 'reset' && $role != 'install'}
                                <a class="badge badge-secondary" n:href="User:logout">Odhlásit</a>
                            {/if}
                        </div>
                    </div>
                {else}
                    <div class="nav-item">
                        <a class="nav-link" n:href="User:login">Přihlášení</a>
                    </div>
                {/if}
            </div>
        </div>
    </div>
</nav>

<div class="container container-content">
    {snippet flashes}
        <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} alert-dismissible">
            {$flash->message}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {/snippet}

    {include content}
</div>

{ifset scripts}{include scripts}{/ifset}
<script>
    $(function () {
        $.nette.init();
    });
</script>
</body>
</html>
