.container-content{
    margin-top: 80px;
}

.row-margin{
    margin-top: 10px;
}

.container-login {
    padding-top: 100px;
}

#background {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(29, 224, 153, 0.7), rgba(29, 200, 205, 0.7)), url("../img/bg-test.jpeg") center top;
    position: relative;
}


/**********/
/* HEADER */
/**********/
.header {
    background: linear-gradient(45deg, #1de099, #1dc8cd);
    height: 80px;
    transition: all 0.5s;
}

.header h1 {
    padding-top: 5px;
    margin-left: 20px;
    font-size: 25pt;
    color: #FAFAFA;
}

.header .nav-item a{
    color: #FAFAFA;
}

.header .nav-link a{
    color: #FAFAFA;
}

.header .nav-link a:hover{
    /*color: #FAFAFA;*/
}

.header .navbar-brand a{
color: #FAFAFA;
}

.header .navbar-nav{
margin-right: 20px;
}
/* HEADER END */

/*********/
/* CARDS */
/*********/
.card{
    background: #1de099;
    margin-bottom: 20px;
}

.card-header{
    background: #1de099;
    color: #FAFAFA;
}

.card-header a{
    color:#FAFAFA;
}

.card-body{
    background-color: #FAFAFA;
}

/******************/
/* FLASH MESSAGES */
/******************/
.alert{
    /*background-color:#1dc8cd;*/
    border-style: none;
    color: #FAFAFA;
}

.alert-success{
    background-color: #1de099;
}

.alert-warning{
    background-color: #fe6f22;
}

.alert-danger{
    background-color: #fe6f22;
}

.alert-error{
    background-color: #8b0000;
}
/* END FLASH MESSAGES*/

/***************/
/*    TEXT     */
/***************/
.required{
    color: #FF0000;
}

.success {
    color: #28a745;
}

.success:hover {
    color: #048b23;
}

.danger {
    color: #dc3545;
}

.danger:hover {
    color: #8b0000;
}
/* END TEXT */

/*******************************/
/* Odkaz ve spanu s tlačítkem  */
/*******************************/
.ajax-link{
    color: #FAFAFA;
}
.ajax-link:hover{
    color: #FAFAFA;
    text-decoration: none;
}



@media only screen and (max-width: 575px) {
    .collapsing, .in, .show, .container-fluid {background-color: #1de099; z-index: 1001; padding: 0.75em; text-align: center; margin: 0 auto;}
    .collapsing div a:hover, .in .show div a:hover {color: #f1f1f1!important; z-index: 1001;}
    .row, .in, .show {display: inline-block; margin-left: auto; margin-right: auto; width: 100%;}
    .navbar-nav {margin-right: 0px!important;}
}