{block content}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <a n:href="Gene:list" class="float-right">Zpět na seznam genů</a><h4>Upravit gen</h4>
                </div>
                <div class="card-body">

                    {ifset $geneAlert}
                        <div class="alert alert-{$geneAction} alert-dismissible fade show" role="alert">
                            {$geneAlert}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {/ifset}

                    {control geneEditForm}

                </div>
            </div>
        </div>
    </div>

{/block}