{block content}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h4 class="card-header">Seznam genů</h4>
                    <div class="card-body">
                        <a n:href="Gene:new" class="btn btn-outline-success mb-2">Přidat gen</a>
                        <hr>
                        <p>
                            V tabulce je seznam všech genů v databázi. Tlačítkem <span class="fa fa-pencil-alt success"></span>
                            je možné gen upravovat. Tlačítkem <span class="fa fa-trash danger"></span> lze gen z databáze odstranit.
                        </p>
                        {control geneListDatagrid}
                    </div>
                </div>
            </div>
        </div>
{/block}