{block content}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <a n:href="Gene:list" class="float-right">Zpět na seznam genů</a><h4>Přidat gen</h4>
                </div>
                <div class="card-body">
                    <div class="col-md-12">

                    {control geneNewForm}

                    {ifset $geneData}
                        <br>
                        <hr>
                        <p>V databázi ClinVar byly nalezeny následující geny:</p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Název</th>
                                    <th>Reference</th>
                                    <th>Popis</th>
                                    <th>Synonyma</th>
                                    <th>Možnosti</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr n:foreach="$geneData as $g">
                                    <form n:name=geneSaveForm>
                                        <td><input n:name=gen_nazev type="hidden" value="{$g->getSymbol()}">{$g->getSymbol()}</td>
                                        <td><input n:name=gen_reference type="hidden" value="{$g->getReference()}">{$g->getReference()}</td>
                                        <td><input n:name=gen_popis type="hidden" value="{$g->getDescription()}">{$g->getDescription()}</td>
                                        <td><input n:name=gen_synonyma type="hidden" value="{implode(", ", $g->getSynonyms())}">{implode(", ", $g->getSynonyms())}</td>
                                        <td>
                                            <input n:name=saveData class="btn btn-success btn-sm">
                                        </td>
                                    </form>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    {/ifset}
                    </div>
                </div>
            </div>
        </div>

{/block}