{block title}Konfigurace aplikace{/block}

{block content}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Konfigurace aplikace</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <p>Tento formulář slouží k vytvoření administrátorského účtu aplikace.</p>
                                <p>Prvky označené <span class="required"><b>červeně</b></span> jsou povinné.</p>

                                <hr>

                                {ifset $addAdminAlert}
                                    <!-- Alert with message about password edit -->
                                    <div class="alert alert-{$addAdminAction} alert-dismissible fade show" role="alert">
                                        {$addAdminAlert}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {/ifset}
                                <!-- Edit user form -->
                                {control addAdminForm}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{/block}
