{block title}Vytvoření databáze{/block}
{block content}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Vytvoření databáze</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <p>Kliknutím na tlačítko tlačítko budou v databázi
                                    <code>{$database}</code> vytvořeny následující tabulky:
                                    <a href="{$basePath}/img/admin/dbimport/diagram.jpg" target="_blank"
                                       style="max-width: 100%"><img
                                                src="{$basePath}/img/admin/dbimport/diagram.jpg" class="form-control">
                                    </a></p>
                                {control createDbForm}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{/block}