{block title}Tokeny{/block}
{block content}
    {ifset $tokens}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Konfigurace aplikace</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 offset-md-3">
                                    <p>Pro resetování administrátorského hesla byly vygenerovány následující tokeny.
                                        Tokeny
                                        si pečlivě uschovejte. Každý token je možné použít pouze jednou!</p>
                                    <p>Pokud je ztratíte je možné heslo resetovat ručně v databázi.</p>
                                    <hr>
                                    {foreach $tokens as $token}
                                        <p style="text-align: center;"><code>{$token}</code></p>
                                    {/foreach}
                                    <hr>

                                    <div class="alert alert-warning"><b>Varování! </b> Po kliknutí na tlačítko dokončit
                                        konfiguraci již nebude možné vygenerované tokeny zobrazit!
                                    </div>
                                    <a n:href="Install:complete" class="form-control btn btn-warning">Dokončit
                                        konfiguraci</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {/ifset}
{/block}