{block content}
    <div class="row">
        <div class="card">
            <div class="card-header">
                <a n:href="Patient:list" class="float-right">Zpět na seznam Pacientů</a><h4>Detail pacienta</h4>
            </div>
            <div class="card-body">
                <h5>Osobní údaje pacienta</h5>
                <div class="row">
                    <div class="col-md-6 offset-md-1">
                        {control patientEditForm}
                    </div>
                </div>
                <hr>
                <div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="align-middle mb-3" style="padding: .375rem .75rem">DNA vzorky pacienta</h5>
                        </div>
                        <div class="col-md-8">
                            <div class="float-right">
                                <a n:href="Dna:add $patient->pacient_id" class="btn btn-outline-success mb-3">Přidat
                                    vzorek DNA</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p>Kliknutím na ikonku <span class="fa fa-plus"></span> můžete vzorku DNA přidat nové vyšetření.
                            Pomocí ikonky <span class="fa fa-pencil-alt"></span> můžete upravit detaily vzorku.</p>
                        {control dnaListDatagrid}
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}
