{block content}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h4 class="card-header">Seznam pacientů</h4>
                <div class="card-body">

                    <a n:href="Patient:new" class="btn btn-outline-success mb-2">Přidat nového pacienta</a>
                    <hr>
                        {control patientDataGrid}
                </div>
            </div>
        </div>
    </div>
{/block}