{block content}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h4 class="card-header">Přidání nového pacienta</h4>
                    <div class="card-body">
                        {control patientNewForm}
                    </div>
                </div>
            </div>
        </div>
{/block}