{block content}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <a n:href="Panel:list" class="float-right">Zpět na seznam panelů</a><h4>Upravit panel</h4>
                </div>
                <div class="card-body">

                    <h5>Detail panelu</h5>
                    <div class="row">
                        <div class="col-md-6 offset-md-1">
                            {form panelEditForm}
                                <div class="form-group">
                                    {label panel_nazev /}{input panel_nazev}
                                </div>
                                <div class="form-group">
                                    {label panel_poznamka /}{input panel_poznamka}
                                </div>
                                <input n:name=editPanel>
                                <input n:name=deletePanel
                                        onclick="return confirm('Opravdu chcete vzorek smazat?');">
                            {/form}
                        </div>
                    </div>
                    <hr>
                    <div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 class="align-middle mb-3" style="padding: .375rem .75rem">Seznam genů v panelu</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p style="padding: .375rem .75rem">V následující tabulce můžete pomocí zaškrtávacích
                                    tlačítek označit geny a poté pomocí hromadné akce geny z panelu odstranit.</p>
                                {control genesListDataGrid}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 class="align-middle mb-3" style="padding: .375rem .75rem">Přidat geny do panelu</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p style="padding: .375rem .75rem">V následující tabulce můžete pomocí zaškrtávacích
                                    tlačítek označit geny a poté pomocí hromadné akce geny přiřadit k panelu.</p>
                                {control genesDataGrid}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}