{block content}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h4 class="card-header">Seznam panelů</h4>
                <div class="card-body">
                    <a n:href="Panel:new" class="btn btn-outline-success mb-2">Přidat panel</a>
                    <hr>
                    <p>
                        V tabulce se nachází seznam panelů. Tlačítkem <span class="fa fa-pencil-alt success"></span>
                        je možné editovat informace o panelu.
                    </p>
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                {control panelListDataGrid}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{/block}