{block content}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <a n:href="Panel:list" class="float-right">Zpět na seznam panelů</a><h4>Přidání panelu</h4>
                </div>
                <div class="card-body">
                    <div class="col-md-12">

                        {control panelNewForm}

                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}