{extends '../@layout.latte'}
{block content}
    <div class="card">
        <div class="card-header">
            <h3>{block title}{/block}</h3>
        </div>
        <div class="card-body">
            <p>{block message}{/block}</p>
        </div>
    </div>
{/block}